<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Добрый день!</p>
    <p>Вас приветствует администрация сервиса <b>Plamber.com.ua</b>!<br>
    Этот электронный адрес был указан для восстановления данных.</p>
    <p>Нашей системой был сгенерирован временный пароль.<br>
    Войдите в систему и смените его на Ваш постоянный пароль.</p>

    <p>Ваш логин: <b>{{ username }}</b><br>
    Ваш временный пароль: <b>{{ password }}</b></p>

    <p>С уважением администрация <b>Plamber.com.ua</b></p>
</body>
</html>
