<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Добрый день!</p>
    <p>Вас приветствует администрация сервиса <b><a href="https://plamber.com.ua">plamber.com.ua</a></b>!<br>
    Этот электронный адрес был указан для восстановления данных.</p>
    <p>Нашей системой был сгенерирован временный пароль.<br>
    Войдите в систему и смените его на Ваш постоянный пароль.</p>

    <p>Ваш логин: <b>{{ username }}</b><br>
    Ваш временный пароль: <b>{{ password }}</b></p>

    Ваш <a href="https://plamber.com.ua">plamber.com.ua</a>

    p.s. Наш партнер: <a href="https://hostiq.ua/clients/aff.php?aff=1362">Хостинг от HOSTiQ</a>

    <p style="font-size: 8pt; color: darkgray;">
        Это техническое сообщение. На него не нужно отвечать. <br>
        В случае необходимости связаться с нами, пишите на <a>{{ email_host_user }}</a>
    </p>
</body>
</html>
