<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% autoescape off %}
        {{ text }}
    {% endautoescape %}

    Ваш <a href="https://plamber.com.ua">plamber.com.ua</a>

    p.s. Наш партнер: <a href="https://hostiq.ua/clients/aff.php?aff=1362">Хостинг от HOSTiQ</a>

    <p style="font-size: 8pt; color: darkgray;">
        Это техническое сообщение. На него не нужно отвечать. <br>
        В случае необходимости связаться с нами, пишите на <a>{{ email_host_user }}</a>
    </p>
    <p style="font-size: 8pt; color: gray;">
        Если вы не хотите получать рассылку от нас,
        отпишитесь от рассылки перейдя по этой ссылке:
        <a href="https://plamber.com.ua{% url 'unsubscribe' token=token %}">Отписаться</a>
    </p>
</body>
</html>