<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Добрый день!</p>
    <p>Вас приветствует администрация сервиса <b><a href="https://plamber.com.ua">plamber.com.ua</a></b>!<br>
    Для аккаунта <b>{{ username }}</b> был изменен пароль на нашем сервисе.</p>

    <p>Если вы не меняли пароль, напишите нам как можно скорее!</p>

    Ваш <a href="https://plamber.com.ua">plamber.com.ua</a>

    p.s. Наш партнер: <a href="https://hostiq.ua/clients/aff.php?aff=1362">Хостинг от HOSTiQ</a>

    <p style="font-size: 8pt; color: darkgray;">
        Это техническое сообщение. На него не нужно отвечать. <br>
        В случае необходимости связаться с нами, пишите на <a>{{ email_host_user }}</a>
    </p>
</body>
</html>