<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="a47c874dc2de855e" />
    <meta name='wmail-verification' content='036d59550baaddc2abb39fd16a1ab6b6' />
    <meta name="robots" content="all">

    {% block description %}{% endblock %}
    <meta name="keywords" content="книги, книги онлайн, читать, читать онлайн, читать книги онлайн, бесплатно, читать бесплатно, читать книги бесплатно, читать удобно, читать книги удобно, библиотека, онлайн библиотека, разные книги, pdf">
    <meta name="application-name" content="Plamber">

    <title>{% block title %}{% endblock %} | Plamber</title>

    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <link rel="stylesheet" href="{% static 'app/css/general.css' %}">
    {% block css %}{% endblock %}
    
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-111515158-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <!--Header Area-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'app/images/logo_beta.jpg' %}" alt="logo"></a>
                {% block header_additional %}{% endblock %}
            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    {% if request.user.is_anonymous %}
                        {% block header_special %}{% endblock %}
                    {% else %}
                        <li><a href="{% url 'categories' %}">Библиотека</a></li>
                        <li><a href="{% url 'index' %}">Мои книги</a></li>
                        <li><a href="{% url 'profile' request.user.id %}">Профиль</a></li>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block references %}
        <div id="left-ref-panel">
            <div class="left-ref" title="Ссылка на наше приложение в Google Play">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ua.plamber_android">
                    <img src="{% static 'app/images/references/google_play.png' %}" width="50" height="50" alt="play.google.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на наш паблик Вконтакте">
                <a target="_blank" href="https://vk.com/plamber.reading">
                    <img src="{% static 'app/images/references/vk.png' %}" width="50" height="50" alt="vk.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на наш Twitter канал">
                <a target="_blank" href="https://twitter.com/plamber_reading">
                    <img src="{% static 'app/images/references/twitter.png' %}" width="50" height="50" alt="twitter.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на нашу страничку в Facebook">
                <a target="_blank" href="https://www.facebook.com/plamber.reading/">
                    <img src="{% static 'app/images/references/facebook.png' %}" width="50" height="50" alt="facebook.com">
                </a>
            </div>
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
