<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="d979a953fde9f502" />
    <meta name='wmail-verification' content='036d59550baaddc2abb39fd16a1ab6b6' />
    <meta name="robots" content="all">

    {% block description %}{% endblock %}
    {% block keywords %}{% endblock %}
    <meta name="application-name" content="Plamber">

    <title>{% block title %}{% endblock %} | Plamber</title>

    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <link rel="stylesheet" href="{% static 'app/css/general.css' %}">
    {% block css %}{% endblock %}
    
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-111515158-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- AdSense -->
    <script data-ad-client="ca-pub-7303886452040471" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- End AdSense -->
</head>
<body>
    <!--Header Area-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'app/images/logo_beta.jpg' %}" alt="logo"></a>
                {% block header_additional %}{% endblock %}
            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    {% if request.user.is_anonymous %}
                        {% block header_special %}{% endblock %}
                    {% else %}
                        <li><a href="{% url 'categories' %}">Библиотека</a></li>
                        <li><a href="{% url 'index' %}">Мои книги</a></li>
                        <li><a href="{% url 'profile' request.user.id %}">Профиль</a></li>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block references %}
        <div id="left-ref-panel">
            <div class="left-ref" title="Ссылка на наше приложение в Google Play">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ua.plamber_android">
                    <img src="{% static 'app/images/references/google_play.png' %}" width="50" height="50" alt="play.google.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на наш паблик Вконтакте">
                <a target="_blank" href="https://vk.com/plamber.reading">
                    <img src="{% static 'app/images/references/vk.png' %}" width="50" height="50" alt="vk.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на наш Twitter канал">
                <a target="_blank" href="https://twitter.com/plamber_reading">
                    <img src="{% static 'app/images/references/twitter.png' %}" width="50" height="50" alt="twitter.com">
                </a>
            </div>
            <div class="left-ref" title="Ссылка на нашу страничку в Facebook">
                <a target="_blank" href="https://www.facebook.com/plamber.reading/">
                    <img src="{% static 'app/images/references/facebook.png' %}" width="50" height="50" alt="facebook.com">
                </a>
            </div>
        </div>
    {% endblock %}

    {% block content %}{% endblock %}

    <div id="reminder-background"></div>

    <div id="fb_page" class="reminder">
        <div><button class="reminder-hide pull-right" onclick="hideReminder('fb_page')">x</button></div>
        <img src="{% static 'app/images/references/facebook.png' %}" width="50" height="50" alt="facebook.com">
        <p class="reminder-text">Поставьте Like нашей странице на Facebook</p>

        <div class="pull-right">
            <button class="reminder-button button-go" onclick="hideReminder('fb_page'); updateReminder('fb_page', false)">Перейти</button>
            <button class="reminder-button button-later" onclick="hideReminder('fb_page')">Напомнить позже</button>
            <button class="reminder-button button-skip" onclick="hideReminder('fb_page'); updateReminder('disabled_all', true)">Больше не показывать</button>
        </div>
    </div>

    <div id="fb_group" class="reminder">
        <div><button class="reminder-hide pull-right" onclick="hideReminder('fb_group')">x</button></div>
        <img src="{% static 'app/images/references/facebook.png' %}" width="50" height="50" alt="facebook.com">
        <p class="reminder-text">В нашей группе на Facebook много интересного!</p>

        <div class="pull-right" align="right">
            <button class="reminder-button button-go" onclick="hideReminder('fb_group'); updateReminder('fb_group', false)">Перейти</button>
            <button class="reminder-button button-later" onclick="hideReminder('fb_group');">Напомнить позже</button>
            <button class="reminder-button button-skip" onclick="hideReminder('fb_group'); updateReminder('disabled_all', true)">Больше не показывать</button>
        </div>
    </div>

    <div id="twitter" class="reminder">
        <div><button class="reminder-hide pull-right" onclick="hideReminder('twitter')">x</button></div>
        <img src="{% static 'app/images/references/twitter.png' %}" width="50" height="50" alt="twitter.com">
        <p class="reminder-text">Читайте нас в Twitter!</p>

        <div class="pull-right" align="right">
            <button class="reminder-button button-go" onclick="hideReminder('twitter'); updateReminder('twitter', false)">Перейти</button>
            <button class="reminder-button button-later" onclick="hideReminder('twitter')">Напомнить позже</button>
            <button class="reminder-button button-skip" onclick="hideReminder('twitter'); updateReminder('disabled_all', true)">Больше не показывать</button>
        </div>
    </div>

    <div id="vk" class="reminder">
        <div><button class="reminder-hide pull-right" onclick="hideReminder('vk')">x</button></div>
        <img src="{% static 'app/images/references/vk.png' %}" width="50" height="50" alt="vk.com">
        <p class="reminder-text">Наша группа Вконтакте ждет именно Вас!</p>

        <div class="pull-right" align="right">
            <button class="reminder-button button-go" onclick="hideReminder('vk'); updateReminder('vk', false)">Перейти</button>
            <button class="reminder-button button-later" onclick="hideReminder('vk')">Напомнить позже</button>
            <button class="reminder-button button-skip" onclick="hideReminder('vk'); updateReminder('disabled_all', true)">Больше не показывать</button>
        </div>
    </div>

    <div id="app_download" class="reminder">
        <div><button class="reminder-hide pull-right" onclick="hideReminder('app_download')">x</button></div>
        <img src="{% static 'app/images/references/google_play.png' %}" width="50" height="50" alt="play.google.com">
        <p class="reminder-text">А вы уже пробовали наше Android приложение?</p>

        <div class="pull-right" align="right">
            <button class="reminder-button button-go" onclick="hideReminder('app_download'); updateReminder('app_download', false)" >Перейти</button>
            <button class="reminder-button button-later" onclick="hideReminder('app_download')">Напомнить позже</button>
            <button class="reminder-button button-skip" onclick="hideReminder('app_download'); updateReminder('disabled_all', true)">Больше не показывать</button>
        </div>
    </div>

    <script>var reminder = '{{ request.session.reminder|default:"false" }}';</script>

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    <script src="{% static 'app/js/helper/reminder.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
