.header-button-color {
    background-color: #2e3438;
    border: 0;
    color: #fff;
    outline: none;
}

.header-button-color:hover {
    background-color: #31a445;
    cursor: pointer;
}

.header-selected-button-color {
    background-color: #2e3438;
    border: 0;
    color: #9aa6ad;
    outline: none;
}

.header-selected-button-color:hover {
    background-color: #31a445;
    color: #fff;
    cursor: pointer;
}

.header-button {
    font: 15pt 'Comfortaa', cursive;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}
