body {
    margin: 0;
}

.layout {
    position: relative;
    width: 1024px;
}

#header {
    background-color: #2e3438;
    height: 80px;
    min-width: 1040px;
}

#headerLogo {
    left: 0;
    position: absolute;
}

.workBackground {
    background-color: #fff;
    border-radius: 2px;
}
