.inputColors {
    border-radius: 2px;
    border: 2px solid #9aa6ad;
    font: 14pt 'Comfortaa', cursive;
    outline: none;
}

.inputColors:focus {
    border: 2px solid #31a445;
}

.input {
    height: 50px;
    padding: 2px 5px 2px 5px;
}
