.input-colors {
    border-radius: 2px;
    border: 2px solid #9aa6ad;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
    outline: none;
}

.input-colors:focus {
    border: 2px solid #31a445;
}

.input {
    height: 38px;
    padding: 2px 10px 2px 10px;
    width: 100%;
}
