.inputColors {
    border-radius: 2px;
    border: 2px solid #7c9fc2;
    font: 12pt Arial;
}

.input {
    height: 24px;
    margin: 5px;
    padding: 2px 5px 2px 5px;
}

.commentTextGeneral {
    font: 12pt Arial;
    resize: none;
    width: 749px;
}