.errorText {
    color: red;
}

.reference {
    color: #9aa6ad;
    cursor: pointer;
    text-decoration: none;
}

.reference:hover {
    color: #31a445;
}

.activeReference {
    font-family: 'Comfortaa', cursive;
    color: #31a445;
    text-decoration: none;
}

.activeReference:hover {
    color: #9aa6ad;
}

.wordWrap {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
