.errorText {
    color: red;
}

.staticTextColor {
    color: #fff;
}

.reference {
    color: #7c9fc2;
    cursor: pointer;
    text-decoration: none;
}

.wordWrap {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
