.container-margin {
    margin-top: 70px;
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.paragraph {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.heading {
    font-family: 'Comfortaa', cursive;
}

.hr-style {
    border: 1px solid #2e3438;
}

.feature-head {
    color: #31a445;
}

.post-heading-block {
    margin-bottom: 20px;
}

.post-heading {
    color: #31a445;
    margin: 0;
}

.post-heading-meta {
    color: #9aa6ad;
}

.footer-margin {
    margin-bottom: 40px;
}
