.container-margin {
    margin-top: 50px;
    margin-bottom: 10px;
}

.paragraph {
    font-family: 'Lucida Grande', Arial, sans-serif
}

.hr-style {
    border: 1px solid #2e3438;
}

.post-heading-block {
    margin-bottom: 20px;
}

.post-heading {
    color: #31a445;
    margin: 0;
}

.post-heading-meta {
    color: #9aa6ad;
}
