h1 {
    font: 35pt 'Comfortaa', cursive;
    color: #31a445;
    margin-top: 20px;
}

#main-space {
    margin-top: 20px;
    width: 550px;
}

.line-input {
    width: 95%;
    margin-bottom: 20px;
}

#div-authors-list-header {
    display: none;
    font: 15pt 'Comfortaa', cursive;
    margin-bottom: 10px;
}

#div-authors-list {
    display: none;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
    margin-bottom: 20px;
}

.input-header {
    font: 18pt 'Comfortaa', cursive;
}

.check-box {
    background-color: #fff;
    color: #9aa6ad;
    font: 14pt 'Comfortaa', cursive;
    height: 57px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 2px 5px 2px 15px;
    width: 71%;
}

.check-element {
    color: #9aa6ad;
}

#about-book {
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    width: 522px;
}

#upload-book {
    display: none;
}

#upload-button-label {
    display: inline-block;
    padding: 4px;
    text-align: center;
}

.upload-button {
    border: solid 2px #31a445;
    border-radius: 2px;
    color: #31a445;
    cursor: pointer;
    font: 15pt 'Comfortaa', cursive;
    margin-left: 5px;
}

.upload-button:hover {
    border: solid 2px #2e3438;
    color: #2e3438;
}

#missing-book-warn {
    display: none;
    font: 16pt 'Comfortaa', cursive;
    margin-left: 5px;
}

#file-uploading {
    color: #31a445;
    display: none;
    font: 16pt 'Comfortaa', cursive;
}

.add-book-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font: 15pt 'Comfortaa', cursive;
    height: 50px;
    margin-bottom: 30px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.add-book-button:hover {
    background-color: #fff;
    color: #31a445;
}
