.container-margin {
    margin-top: 50px;
}

.header-color {
    color: #31a445;
}

.margin {
    margin-bottom: 10px;
}

#div-authors-list-header {
    display: none;
}

#div-authors-list {
    display: none;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
}

#div-books-list-header {
    display: none;
}

#div-books-list {
    display: none;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
}

.input-header {
    font: 14pt 'Comfortaa', cursive;
}

.select-box {
    background-color: #fff;
    color: #9aa6ad;
    height: 38px;
    margin-left: 10px;
    width: 71%;
}

.check-element {
    color: #9aa6ad;
}

#about-book {
    height: 200px;
    resize: none;
}

.about-padding {
    padding-top: 5px;
}

#private {
    height: 20px;
    margin: 10px 10px 10px 0;
    width: 20px;
}

#upload-button-label {
    display: inline-block;
    text-align: center;
}

#upload-book {
    display: none;
}

.upload-button {
    border: solid 2px #31a445;
    color: #31a445;
}

.upload-button:hover {
    border: solid 2px #2e3438;
    color: #2e3438;
}

#missing-book-warn {
    display: none;
    font: 14pt 'Comfortaa', cursive;
}

#file-uploading {
    color: #31a445;
    display: none;
    font: 14pt 'Comfortaa', cursive;
}

.add-book-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
}

.add-book-button:hover {
    background-color: #fff;
    color: #31a445;
}

.footer-margin {
    margin-bottom: 40px;
}
