.category {
    border: 0;
    float: left;
    font: 14pt Arial;
    height: 75px;
    margin: 30px 10px 0 10px;
    outline: none;
    width: 230px;
}

.category:hover {
    background-color: #1c5bed;
    color: #fff;
}

