.input-colors {
    border-radius: 2px;
    border: 2px solid #9aa6ad;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
    outline: none;
}

.input-colors:focus {
    border: 2px solid #31a445;
}

.input {
    height: 38px;
    padding: 2px 10px 2px 10px;
    width: 100%;
}

.error-text {
    color: red;
}

.reference {
    color: #9aa6ad;
    cursor: pointer;
    text-decoration: none;
}

.reference:hover {
    color: #31a445;
}

.active-reference {
    font-family: 'Comfortaa', cursive;
    color: #31a445;
    text-decoration: none;
}

.active-reference:hover {
    color: #9aa6ad;
}

.word-wrap {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
