.container-margin {
    margin-top: 50px;
}

.header-color {
    color: #9aa6ad;
}

.thumbnail {
    overflow: hidden;
}

.thumbnail img{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.img-wrapper {
	width: 100%;
	padding-bottom: 150%;
	position: relative;
}

.img-wrapper img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 99%;
    max-height: 100%;
}

.book-info {
    bottom: 0;
    color: #fff;
    display: none;
    font-family: 'Lucida Grande', Arial, sans-serif;
    left: 0;
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
}

.thumbnail:hover .book-info {
    display: block;
    background: #2e3438;
    opacity: 0.9;
}

#upload-button {
    bottom: 30px;
    position: fixed;
    right: 30px;
    z-index: 9999;
}

#upload-button-img {
    height: 75px;
    width: 75px;
}

.margin {
    margin-bottom: 10px;
}

.hr-style {
    border: 1px solid #2e3438;
}

.footer-margin {
    margin-bottom: 40px;
}
