.container-margin {
    margin-top: 50px;
}

.header-color {
    color: #9aa6ad;
}

.thumbnail img{
    max-width: 100%;
}

.img-wrapper{
	width: 100%;
	padding-bottom: 150%;
	position: relative;
}

.img-wrapper img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 95%;
}

.book-info {
    bottom: 0;
    color: #31a445;
    display: none;
    font-family: 'Lucida Grande', Arial, sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.thumbnail:hover img {
    display: none;
}

.thumbnail:hover .book-info {
    display: block;
}

.decoration {
    text-decoration: none;
}

.decoration:hover {
    text-decoration: none;
}

.action-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
}

.action-button:hover {
    background-color: Transparent;
    border: solid 2px #31a445;
    color: #31a445;
}

.margin {
    margin-bottom: 10px;
}