body {
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 60px;
}

h2 {
    font-family: Open Sans;
    font-size: 18px;
    margin-bottom: 30px;
}

.welcomeDiv {
    float: left;
    width: 400px;
}

.textSection {
    float: left;
    margin: 20px 10px 0;
    width: 60%;
}

.welcome {
    font-size: 25px;
}

#aboutArea {
    margin-top: 200px;
}

.registerSection {
    float: right;
    margin-top: 50px;
    width: 35%;
}

#logInArea {
    margin-bottom: 20px;
}

.inputArea {
    padding: 25px 0;
}

.authMsg {
    margin-right: 47px;
}

#logInButton {
    width: 90px;
}

.button {
    font: 12pt Arial;
    height: 26px;
    margin: 5px 38px 5px 0;
}

#signInHeader {
    margin-bottom: 15px;
}

#userExists {
    display: none;
}

#passWrongMessage {
    display: none;
}

#signInButton {
    width: 150px;
}

.lineInput {
    width: 75%;
}