.container-margin {
    margin-top: 70px;
}

.margin {
    margin-bottom: 10px;
}

.manage-button {
    background-color: #2e3438;
    border: solid 2px #2e3438;
    color: #fff;
    width: 100%;
}

.manage-button:hover {
    background-color: #31a445;
    border: solid 2px #31a445;
}

#user-name {
    margin-top: 10px;
}

.hr {
    border: 1px solid #31a445;
    margin-bottom: 10px;
    margin-top: 10px;
}

#status-message {
    color: red;
}

#change-avatar {
    display: none;
}

#upload-label {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

#upload {
    display: none;
}

.select-button {
    background-color: #fff;
    border: solid 2px #31a445;
    color: #31a445;
}

.select-button:hover {
    border: solid 2px #2e3438;
    color: #2e3438;
}

.change-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
}

.change-button:hover {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
}

#change-password {
    display: none;
}

.eye-img {
    cursor: pointer;
}

#eye-div {
    color: #9aa6ad;
}

.read-books-header {
    color: #2e3438;
}

table {
    table-layout: fixed;
}

.page {
    text-align: center;
}

.text-font {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.book-list {
    width: 96%;
}

.page-number {
    text-align: center;
}

.remove-book-button {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
    border-radius: 2px;
    color: #fff;
    outline: none;
    margin-bottom: 2px;
}

.remove-book-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

#book-name {
    color: #31a445;
    font-size: 16px;
}

#accept-buttons {
    margin-top: 10px;
}

#no-button {
    color: #fff;
    background-color: #31a445;
    border: solid 2px #31a445;
}

#no-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

#yes-button {
    color: #fff;
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
}

#yes-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

#remove-book-sub {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    color: #2e3438;
    display: none;
    font-family: 'Lucida Grande', Arial, sans-serif;
    left: 50%;
    margin-left: -150px;
    margin-top: -65px;
    min-height: 150px;
    position: fixed;
    padding: 20px;
    top: 50%;
    width: 300px;
    z-index: 9999;
}

#popup-background {
    background: #2e3438;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
}

.footer-margin {
    margin-bottom: 40px;
}
