body {
    font-family: 'Comfortaa', cursive;
}

#main-area {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
}

#left-side {
    float: left;
    width: 255px;
}

#right-side {
    float: right;
    padding-left: 45px;
    width: 700px;
}

#username {
    color: #2e3438;
}

hr {
    border: 1px solid #31a445;
}

#read-books-header {
    color: #2e3438;
}

table {
    border: none;
    color: #2e3438;
    table-layout: fixed;
}

#book-list {
    width: 100%;
}

.book-line:hover {
    color: #31a445;
}

.page-number {
    text-align: center;
}

.remove-book-button {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.remove-book-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

#remove-book-sub {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    color: #2e3438;
    display: none;
    font-family: 'Comfortaa', cursive;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    min-height: 150px;
    position: fixed;
    padding: 20px;
    top: 50%;
    width: 400px;
}

#book-name {
    color: #31a445;
    font-size: 16px;
}

#accept-buttons {
    margin-top: 20px;
}

.button {
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    outline: none;
}

.active-button {
    font: 15pt 'Comfortaa', cursive;
    padding-left: 20px;
    padding-right: 20px;
}

#no-button {
    background-color: #31a445;
    border: solid 2px #31a445;
}

#no-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

#yes-button {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
    margin-left: 5px;
}

#yes-button:hover {
    background-color: #2e3438;
    border: solid 2px #2e3438;
}

.manage-button {
    background-color: #2e3438;
    border: solid 2px #2e3438;
    font: 13pt 'Comfortaa', cursive;
    margin-top: 10px;
    width: 250px;
}

.manage-button:hover {
    background-color: #31a445;
    border: solid 2px #31a445;
}

#change-avatar {
    display: none;
}

#status-message {
    color: #31a445;
}

#upload {
    display: none;
}

#upload-label {
    display: inline-block;
    text-align: center;
}

.upload-button {
    border-radius: 2px;
    cursor: pointer;
    font: 14pt 'Comfortaa', cursive;
    margin-top: 10px;
    padding: 5px;
}

.select-button {
    background-color: #fff;
    border: solid 2px #31a445;
    color: #31a445;
    width: 150px;
}

.select-button:hover {
    border: solid 2px #2e3438;
    color: #2e3438;
}

.change-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
    width: 164px;
}

.change-button:hover {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
}
