.container-margin {
    margin-top: 65px;
}

.book-meta {
    display: none;
}

.the-page {
    border: 1px solid black;
}

#small-page-num {
    margin-top: 5px;
    border: 1px solid #31a445;
}

#page-nav-bar {
    background-color: #2e3438;
    border-radius: 1px;
    height: 80px;
    padding-top: 20px;
    position: fixed;
    opacity: .3;
    width: 100px;
    z-index: 9999;
}

#page-nav-bar:hover {
    opacity: 1;
}

.page-number {
    text-align: center;
    width: 60px;
}
