.container-margin {
    margin-top: 65px;
}

.margin-top {
    margin-top: 5px;
}

.book-meta {
    display: none;
}

.the-page {
    border: 1px solid black;
}

#small-page-nav {
    margin-top: 5px;
}

#small-page-num {
    border: 2px solid #31a445;
}

#small-btn {
    margin-top: -2px;
}

#page-nav-bar {
    background-color: #2e3438;
    border-radius: 1px;
    height: 123px;
    padding-top: 20px;
    position: fixed;
    opacity: .3;
    width: 100px;
    z-index: 9999;
}

.action-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
    font-size: 20px;
    padding: 3px 20px 3px 20px;
}

.action-button:hover {
    background-color: Transparent;
    border: solid 2px #31a445;
    color: #31a445;
}

#page-nav-bar:hover {
    opacity: 1;
}

.page-number {
    text-align: center;
    width: 60px;
}

#loading {
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: fixed;
    z-index: 9999;
}
