.container-margin {
    margin-top: 65px;
}

.margin-top {
    margin-top: 5px;
}

.book-meta {
    display: none;
}

.the-page {
    border: 1px solid black;
}

#small-page-nav {
    margin-top: 5px;
}

#small-page-num {
    border: 2px solid #31a445;
}

#small-btn {
    margin-top: -2px;
}

#page-nav-bar {
    background-color: #2e3438;
    border-radius: 1px;
    height: 123px;
    padding-top: 20px;
    position: fixed;
    opacity: .3;
    width: 100px;
    z-index: 9999;
}

.action-button {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
    font-size: 20px;
    padding: 3px 20px 3px 20px;
}

.action-button:hover {
    background-color: Transparent;
    border: solid 2px #31a445;
    color: #31a445;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-nav-bar:hover {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-number {
    text-align: center;
    width: 60px;
}

#loading {
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: fixed;
    z-index: 9999;
}

#loading-percent {
    color: #31a445;
    display: none;
    font-size: 16pt;
    left: 50%;
    margin-left: -50px;
    margin-top: 40px;
    position: fixed;
    top: 50%;
    text-align: center;
    width: 100px;
    z-index: 9999;

}

.toast {
    background-color: #2e3438;
    border-radius: 2px;
    color: #fff;
    display: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 10000;
}

#error-toast {
    height: 60px;
    margin-left: -100px;
    top: 85%;
    width: 200px;
}

@media (max-width: 500px) {
    #anonymous-user-toast {
        height: 160px;
        margin-left: -140px;
        top: 60%;
        width: 280px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    #anonymous-user-toast {
        height: 120px;
        margin-left: -200px;
        top: 50%;
        width: 400px;
    }
}

@media (min-width: 770px) {
    #anonymous-user-toast {
        height: 120px;
        margin-left: -200px;
        top: 70%;
        width: 400px;
    }
}

