.container-margin {
    margin-top: 50px;
}

#search-button {
    background-color: #ff8f0c;
    border: solid 2px #ff8f0c;
    color: #fff;
    position: absolute;
    margin-left: 5px;
    width: 13%;
}

#search-button:hover {
    background-color: Transparent;
    border: solid 2px #ff8f0c;
    color: #ff8f0c;
}

#search-input {
    width: 85%;
}

@media screen and (max-width: 480px) {
    #search-button {
        width: 37%;
    }
    #search-input {
        width: 58%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    #search-button {
        width: 25%;
    }
    #search-input {
        width: 73%;
    }
}

.align-left {
    text-align: left;
}

.header-color {
    color: #31a445;
}

.sort-area {
    color: #2e3438;
    font: 14pt 'Lucida Grande', Arial, sans-serif;
    margin-top: 10px;
}

.button-color {
    background-color: #2e3438;
    border: 2px solid #2e3438;
    color: #fff;
}

.button-color:hover {
    background-color: #fff;
    color: #2e3438;
}

.selected-button-color {
    background-color: #31a445;
    border: 2px solid #31a445;
    color: #fff;
}

.selected-button-color:hover {
    background-color: #fff;
    color: #31a445;
}

.sort-buttons {
    margin-top: 5px;
}

.margin {
    margin-bottom: 5px;
}

.books-area {
    margin-top: 10px;
}

.thumbnail img{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.img-wrapper{
	width: 100%;
	padding-bottom: 150%;
	position: relative;
}

.img-wrapper img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 99%;
    max-height: 100%;
}

.book-info {
    bottom: 0;
    color: #fff;
    display: none;
    font-family: 'Lucida Grande', Arial, sans-serif;
    left: 0;
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
}

.thumbnail:hover .book-info {
    display: block;
    background: #2e3438;
    opacity: 0.9;
}

.book-count {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
    color: #fff;
}

.paragraph {
    font: 14pt 'Lucida Grande', Arial, sans-serif;
}

.footer-margin {
    margin-bottom: 40px;
}

#loading {
    display: none;
    left: 50%;
    margin-left: -32px;
    position: fixed;
    z-index: 9999;
}
