.categoryName {
    margin-left: 10px;
}

.searchArea {
    font: 14pt Arial;
    padding: 10px 0 10px 15px;
    width: 970px;
}

#searchInput {
    width: 90%;
}

.booksArea {
    float: left;
    margin-top: 30px;
    width: 72%;
}

.sortArea {
    font: 14pt Arial;
    float: right;
    margin: 30px 7px 0 0;
    padding: 0 10px 20px 10px;
    width: 25%;
}

.button {
    font: 12pt Arial;
    height: 26px;
    margin-bottom: 15px;
    width: 180px;
}

.book {
    float: left;
    width: 150px;
    margin: 0 8px 30px 8px;
    padding: 25px 5px 25px 5px;
}

.bookImage {
    margin-bottom: 8px;
}

.bookName {
    font: 12pt Arial;
}

.bookAuthor{
    font: 10pt Arial;
    margin-top: 10px;
}
