.container-margin {
    margin-top: 70px;
}

.margin {
    margin-bottom: 10px;
}

#the-book-image {
    border: 1px solid #9aa6ad;
    border-radius: 2px;
}

.book-meta {
    display: none;
}

.stats {
    color: #9aa6ad;
    font: 16pt 'Lucida Grande', Arial, sans-serif;
    margin-top: 10px;
}

#rating {
    color: #31a445;
}

.added-count {
    color: #31a445;
}

#estimation-area {
    font-family: 'Lucida Grande', Arial, sans-serif;
    margin-bottom: 30px;
}

.estimate {
    background-color: #2e3438;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 2px;
    text-align: center;
    width: 21px;
}

.estimate:hover {
    background-color: #31a445;
}

#remove-book {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
    color: #fff;
}

#remove-book:hover {
    background-color: Transparent;
    border: solid 2px #9aa6ad;
    color: #9aa6ad;
}

#add-book {
    background-color: #31a445;
    border: solid 2px #31a445;
    color: #fff;
}

#add-book:hover {
    background-color: Transparent;
    border: solid 2px #31a445;
    color: #31a445;
}

.add-book-text {
    color: #2e3438;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

#book-name {
    color: #31a445;
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-align: center;
}

table {
    table-layout: fixed;
    text-align: left;
    width: 95%;
}

th {
    color: #9aa6ad;
    font-family: 'Comfortaa', cursive;
    height: 30px;
    width: 120px;
}

td {
    color: #2e3438;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

#about-book {
    color: #31a445;
    font-size: 20px;
    height: 50px;
}

#about-text {
    color: #2e3438;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.main-separator {
    border: 1px solid #31a445;
}

.thumbnail img{
    max-width: 100%;
}

.img-wrapper{
	width: 100%;
	padding-bottom: 150%;
	position: relative;
}

.img-wrapper img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 99%;
}

.book-info {
    bottom: 0;
    color: #31a445;
    display: none;
    font-family: 'Lucida Grande', Arial, sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.thumbnail:hover img {
    display: none;
}

.thumbnail:hover .book-info {
    display: block;
}

#new-comment-header {
    font: 18px 'Comfortaa', cursive;
}

.user-photo {
    border: 1px solid #9aa6ad;
}

#add-comment-text {
    height: 80px;
    padding-top: 5px;
    resize: none;
}

#comment-button {
    background-color: #2e3438;
    border: 2px solid #2e3438;
    color: #fff;
}

#comment-button:hover {
    background-color: Transparent;
    color: #2e3438;
}

#comments-header {
    color: #31a445;
}

.no-margin {
    margin: 0;
}

.hr {
    border: 1px solid #9aa6ad;
}

.comment-posted-date {
    color: #9aa6ad;
}

.text-font {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

.footer-margin {
    margin-bottom: 40px;
}
