.main-space {
    margin-top: 40px;
}

#left-side {
    float: left;
}

#the-book-image {
    border: 1px solid black;
    object-fit: cover;
}

#book-image {
    display: none;
}

#book-url {
    display: none;
}

#book-name {
    color: #31a445;
    font-family: 'Lucida Grande', Arial, sans-serif;
    text-align: center;
}

table {
    margin-left: 300px;
    text-align: left;
}

th {
    color: #9aa6ad;
    font-family: 'Comfortaa', cursive;
    height: 30px;
    width: 120px;
}

td {
    color: #2e3438;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

#about-book {
    font-size: 20px;
    color: #31a445;
}

#about-text {
    color: #2e3438;
    font-family: 'Lucida Grande', Arial, sans-serif;
    margin-left: 280px;
    min-height: 400px;
    text-align: left;
    width: 700px;
}

#avg-mach {
    color: #9aa6ad;
    font: 15pt 'Comfortaa', cursive;
    margin-top: 20px;
}

#rating {
    color: #31a445;
}

.add-book {
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font: 15pt 'Comfortaa', cursive;
    height: 50px;
    margin-top: 30px;
    outline: none;
    width: 252px;
}

#add-book {
    background-color: #31a445;
    border: solid 2px #31a445;
}

#add-book:hover {
    background-color: Transparent;
    border: solid 2px #31a445;
    color: #31a445;
}

#remove-book {
    background-color: #9aa6ad;
    border: solid 2px #9aa6ad;
}

#remove-book:hover {
    background-color: Transparent;
    border: solid 2px #9aa6ad;
    color: #9aa6ad;
}

.add-book-text {
    color: #2e3438;
    font-family: 'Comfortaa', cursive;
    max-width: 242px;
}

#estimation-area {
    font-family: 'Comfortaa', cursive;
    margin-top: 20px;
}

.estimate {
    background-color: #2e3438;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 3px;
    text-align: center;
    width: 22px;
}

.estimate:hover {
    background-color: #31a445;
}

hr {
    border: 1px solid #31a445;
}

.new-comment {
    margin-top: 20px;
    margin-bottom: 160px;
}

#new-comment-header {
    font: 18px 'Comfortaa', cursive;
}

#new-comment-body {
    margin-top: 20px;
}

.user-photo {
    float: left;
    object-fit: contain;
    object-position: 0 0;
}

#add-comment-text {
    border: 2px solid #9aa6ad;
    border-radius: 2px;
    color: #2e3438;
    font: 12pt 'Lucida Grande', Arial, sans-serif;
    float: right;
    height: 60px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 840px;
}

#add-comment-text:focus {
    border: 2px solid #31a445;
}

#comment-button {
    background-color: #2e3438;
    border: 2px solid #2e3438;
    border-radius: 2px;
    color: #31a445;
    cursor: pointer;
    font: 12pt 'Comfortaa', cursive;
    float: right;
    height: 30px;
    margin-top: 10px;
    outline: none;
    width: 120px;
}

#comment-button:hover {
    background-color: Transparent;
    color: #2e3438;
}

#comments-header {
    color: #31a445;
    font: 24px 'Comfortaa', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hr {
    border: 1px solid #9aa6ad;
}

.comment {
    color: #2e3438;
    font: 10pt 'Lucida Grande', Arial, sans-serif;
    min-height: 170px;
}

.comment-photo {
    object-fit: contain;
    object-position: 0 0;
}

.comment-text {
    color: #2e3438;
    font: 14px 'Lucida Grande', Arial, sans-serif;
    float: right;
    width: 860px;
}

.user-name {
    width: 130px;
}
