{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}О проекте Plamber{% endblock %}

{% block description %}
    <meta name="description" content="Plamber - онлайн библиотека и система для чтения книг в различных форматах. Удобно читать с телефона, планшета и компьютера. У нас {{ books_count }} книг.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="О проекте Plamber, Онлайн библиотека, Читалка книг, Книги pdf, Android читалка">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/about.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/about.js' %}"></script>
{% endblock %}

{% block header_special %}
    <li><a href="{% url 'categories' %}" class="header-animation">Библиотека</a></li>
    <li><a href="{% url 'about' %}" class="header-animation">О проекте</a></li>
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div id="main" class="container footer-margin">

        {% include "main/includes/about.html" %}

        <div class="row" align="center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 class="partner-text">Наш партнер</h3>
                <div id="partner-banner-outline">
                    <a href="https://hostiq.ua/clients/aff.php?aff=1362&bid=15" rel="nofollow">
                        <img src="https://hostiq.ua/images/aff-banners/728x90_4.gif" width="728" height="90" alt="Не хватает ресурсов? Купи выделенный сервер!" title="Dedicated сервер — и вы не зависите от соседей" border="1"/>
                    </a>
                </div>
            </div>
        </div>

        <!--Blog area-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 align-left">
                <hr class="hr-style">
                <div class="align-center">
                    <h2>Блог проекта</h2>
                </div>

                {% for post in posts %}
                    <hr>
                    <div class="align-left">
                        <div class="post-heading-block">
                            <h3 class="post-heading"><strong>{{ post.heading }}</strong></h3>
                            <span class="post-heading-meta">
                                <strong>{{ post.user }}</strong> - <i>{{ post.posted_date|date:"d-m-Y" }}</i>
                            </span>
                        </div>
                        <div class="paragraph">
                            {% autoescape off %}
                                {{ post.text }}
                            {% endautoescape %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
