<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>О проекте</title>
    <link rel="stylesheet" href="{% static 'app/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    <script src="{% static 'app/js/about.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LOGO</a>
            </div>

            <form id="logout" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
            </form>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    {% if request.user.is_anonymous %}
                        <li><a href="{% url 'index' %}">На главную</a></li>
                    {% else %}
                        <li><a href="{% url 'categories' %}">Библиотека</a></li>
                        <li><a href="{% url 'index' %}">Мои книги</a></li>
                        <li><a href="{% url 'profile' request.user.id %}">Профиль</a></li>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                        <li><a href="javascript:;" onclick="logout()">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!--Main info area-->
    <div id="main" class="container container-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" align="center">

                <!-- About project area -->
                <h1>Мы бла бла ла дылваоды лаоы вдлаоывалд</h1>
                <div class="paragraph">
                    <p>slkdfjsldkfjsdlfkjsdlkfjsdfksjdfksd<br>
                    lsjfdkslkjfsdlkfjsdlkfjsdlfkjsdfksdjfksdf<br>
                    sdfklsjflksjflksdjfklsjfskldjfslkdjfsldfj
                    sdfksjflksjdflksjflksdjflksdjflksjfsdkfj
                    dgkljsgkljdg<br>
                    sfglksdjglkdsjgldg</p>
                    <p>slfjsldkfjsdkfj sdklfjsdkfjsdlf kjdsfsdfklsdj flsfsklfjsdlfk<br>
                    akfdljalksfjs lkfjsla;fj sdlfkjal;ksfjsalkfj sal;fjslafjsdalfkjsdf
                    lfkjalsjkdflak jfdal;sk jdfalskfjaslkfj aslkfjalskjfals fjasl;fkjsf
                    slfkjsalf;kj asf;las kjf;aslkfjsalfkjsdlkf jaslfjsalfjlsk fjsfkjalsdfj</p>
                </div>

                <hr class="hr-style">
                <div align="center">
                    <h1>Блог нашего проекта</h1>
                </div>

                {% for post in posts %}
                    <hr>
                    <div align="left">
                        <div class="post-heading-block">
                            <h3 class="post-heading">{{ post.heading }}</h3>
                            <span class="post-heading-meta">
                                <i>{{ post.posted_date }}</i> - <strong>{{ post.user }}</strong>
                            </span>
                        </div>
                        <div class="paragraph">
                            {{ post.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>