<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/add_book.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/add_book.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="header-button header-button-color">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="header-button header-button-color">Мои книги</button></a>
                <button class="header-button header-button-color">Профиль</button>
                <button class="header-button header-button-color">О проекте</button>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout">
            <div id="main-space" align="right">
                <div align="left">
                    <h1><b>Добавить книгу</b></h1>
                </div>
                <form action="{% url 'book_successful' %}" method="POST" onsubmit="isBookChosen(this); return false;"
                        enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <input class="line-input input input-colors" placeholder="Название книги" maxlength="30"
                               name="bookname" required>
                    </div>
                    <div>
                        <input id="author-input" class="line-input input input-colors" placeholder="Автор"
                               maxlength="30" name="author" oninput="generateAuthors()" required>
                    </div>
                    <div id="div-authors-list-header" align="left">Bы можете выбрать автора из списка:</div>
                    <div id="div-authors-list"></div>
                    <div class="input-header" align="right">
                        Категория
                        <select class="check-box input-colors" name="category" required>
                            {% for category in categories %}
                            <option class="check-element" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-header" align="right">
                        Язык книги
                        <select class="check-box input-colors" name="language" required>
                            {% for language in languages %}
                            <option class="check-element" value="{{ language }}">{{ language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div><textarea id="about-book" class="input-colors" placeholder="О книге" name="about"
                                   required maxlength="1000"></textarea></div>
                    <div align="left">
                        <label id="upload-button-label" class="upload-button">Загрузить книгу
                            <input id="upload-book" type="file" accept="application/pdf" name="bookfile">
                        </label>
                        <p id="missing-book-warn" class="error-text"><b>Bыберите книгу!</b></p>
                        <p id="file-uploading" align="center">Подождите пожалуйста, файл загружается на сервер ...</p>
                    </div>
                    <div align="right">
                        <button class="add-book-button" type="submit">Добавить книгу</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>