<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/add_book.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/add_book.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="headerLogo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="/logout/" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="headerButton headerButtonColor">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="headerButton headerButtonColor">Мои книги</button></a>
                <button class="headerButton headerButtonColor">Профиль</button>
                <button class="headerButton headerButtonColor">О проекте</button>
                <button class="headerButton headerButtonColor" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout">
            <div id="mainSpace" align="right">
                <div align="left">
                    <h1><b>Добавить книгу</b></h1>
                </div>
                <form action="book-successful" method="POST" onsubmit="isBookChosen(this); return false;"
                        enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <input class="lineInput input inputColors" placeholder="Название книги" maxlength="30"
                               name="bookname" required>
                    </div>
                    <div>
                        <input id="authorInput" class="lineInput input inputColors" placeholder="Автор"
                               maxlength="30" name="author" oninput="generateAuthors()" required>
                    </div>
                    <div id="divAuthorsListHeader" align="left">Bы можете выбрать автора из списка:</div>
                    <div id="divAuthorsList"></div>
                    <div class="inputHeader" align="right">
                        Категория
                        <select class="checkBox inputColors" name="category" required>
                            {% for category in categories %}
                            <option class="checkElement" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="inputHeader" align="right">
                        Язык книги
                        <select class="checkBox inputColors" name="language" required>
                            {% for language in languages %}
                            <option class="checkElement" value="{{ language }}">{{ language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div><textarea id="aboutBook" class="inputColors" placeholder="О книге" name="about"
                                   required maxlength="1000"></textarea></div>
                    <div align="left">
                        <label id="uploadButtonLabel" class="uploadButton">Загрузить книгу
                            <input id="uploadBook" type="file" accept="application/pdf" name="bookfile">
                        </label>
                        <p id="missingBookWarn" class="errorText"><b>Bыберите книгу!</b></p>
                        <p id="fileUploading" align="center">Подождите пожалуйста, файл загружается на сервер ...</p>
                    </div>
                    <div align="right">
                        <button class="addBookButton" type="submit">Добавить книгу</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>