{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Добавить Книгу В Plamber{% endblock %}

{% block description %}
    <meta name="description" content="Добавляйте Ваши любимые книги в Plamber и читайте удобно онлайн и оффлайн с любого устройства.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Добавить книгу Plamber, Добавление книг pdf, Добавить книги онлайн, Добавить книгу в библиотеку">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/add_book.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/add_book.js' %}"></script>
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div id="main" class="container container-margin footer-margin">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <h2 class="header-color"><b>Добавить книгу</b></h2>

                <form id="add-book-form" action="{% url 'book_successful' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="margin">
                        <input id="book-input" class="input input-colors" placeholder="Название книги"
                               maxlength="150" name="bookname" oninput="generateBooks()" required>
                    </div>
                    <div id="div-books-list-header" align="left">
                        <h4>Может такая книга уже есть? Просто начните читать:</h4></div>
                    <div id="div-books-list" class="margin word-wrap"></div>

                    <div class="margin">
                        <input id="author-input" class="input input-colors" placeholder="Автор"
                               maxlength="100" name="author" oninput="generateAuthors()" required>
                    </div>
                    <div id="div-authors-list-header" align="left"><h4>Bы можете выбрать автора из списка:</h4></div>
                    <div id="div-authors-list" class="margin word-wrap"></div>

                    <div class="input-header margin" align="right">
                        Категория
                        <select class="select-box input input-colors" name="category" required>
                            {% for category in categories %}
                            <option class="check-element" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-header margin" align="right">
                        Язык книги
                        <select class="select-box input input-colors" name="language" required>
                            {% for language in languages %}
                            <option class="check-element" value="{{ language }}">{{ language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <textarea id="about-book" class="input input-colors about-padding" placeholder="О книге"
                                  name="about" required maxlength="1000"></textarea>
                    </div>
                    <div class="margin" align="left">
                        <input id="private" type="checkbox" name="private">
                        <span class="input-header">Приватная книга</span>
                        <div class="text-private">
                            <b>Рекомендуем поставить галочку. Таким образом книга не будет заблокирована по обращению правообладателей,
                                и никто не будет иметь к ней доступ. Так же она не будет отображаться в поиске и рекомендациях</b>
                        </div>
                    </div>
                    <div class="margin" align="left">
                        <label id="upload-button-label" class="btn upload-button">
                            <span id="upload-caption">Загрузить книгу</span>
                            <input id="upload-book" type="file" accept="application/pdf" name="bookfile">
                        </label>
                        <p id="missing-book-warn" class="error-text"><b>Bыберите книгу!</b></p>
                        <div id="file-uploading" align="center">
                            <p>Подождите пожалуйста, файл загружается на сервер...</p>
                            <p><img src="{% static 'app/images/loading.gif' %}" alt="Загрузка"></p>
                        </div>
                    </div>
                    {% if error %}
                        <div id="invalid-book"
                             class="error-text">Вы выбрали неправильный формат файла. Поддерживается только PDF.</div>
                    {% endif %}
                    <div class="margin" align="right">
                        <button class="btn add-book-button" type="submit"
                                onclick="ga('send', 'event', 'button_add_book', 'click_add_book'); return true;">Добавить книгу</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3" align="center">
                <h3 class="partner-text">Наш партнер</h3>
                <div id="partner-banner-outline">
                    <a href="https://hostiq.ua/clients/aff.php?aff=1362&bid=10" rel="nofollow">
                        <img src="https://hostiq.ua/images/aff-banners/160x600_3.gif" width="160" height="600" alt="Выделенные сервера HOSTiQ.ua" title="Аренда серверов в Европе и Америке" border="0"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
