{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Категории Книг В Онлайн Библиотеке{% endblock %}

{% block description %}
    <meta name="description" content="Выбирайте книги на Plamber в различных категориях из более чем 10000 книг.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Категории книг, Список книг pdf, Популярные pdf книги, Списки книг онлайн, Библиотека книг онлайн">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/categories.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/categories.js' %}"></script>
{% endblock %}

{% block header_special %}
    <li><a href="{% url 'categories' %}">Библиотека</a></li>
    <li><a href="{% url 'about' %}">О проекте</a></li>
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div id="main" class="container container-margin footer-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="header-color"><strong>Категории</strong></h1>
                <input id="search-input" class="input input-colors margin" placeholder="Поиск книг..."
                       title="Вводите любую информацию: название книги, автора..." oninput="returnState()" maxlength="255">
                <a id="search-button" class="btn" onclick="searchBooks({{ category.id }})">Искать</a>

                <!--Books-->
                <div class="col-sm-16 col-md-16 col-lg-16 books-area"></div>

                <img id="loading" src="{% static 'app/images/loading.gif' %}" alt="Загрузка">

                <!--Categories-->
                <div id="categories" class="margin-top">
                    <div class="col-sm-4 col-md-4 col-lg-4 margin">
                        {% for category in categories %}
                            <div class="word-wrap"><a href="{% url 'category' category.id %}"
                                    class="active-reference">{{ category.category_name }}</a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        {% if most_readable_books %}
                            <div class="align-center">
                                <h3 class="no-margin-top recommend-margin">Самые читаемые книги</h3>
                            </div>

                            {% for book in most_readable_books %}
                                <a href="{% url 'book' book.id %}">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                                        <div class="thumbnail">
                                            <div class="img-wrapper">
                                                <img src="{{ book.url }}" alt="{{ book.name }}">
                                                <div class="book-info word-wrap">
                                                    <strong>{{ book.name }}</strong><br>
                                                    <i>{{ book.author }}</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
