<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/categories.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <button class="header-button header-selected-button-color">Библиотека</button>
                <a href="{% url 'index' %}"><button class="header-button header-button-color">Мои книги</button></a>
                <a href="{% url 'profile' request.user.id %}"><button class="header-button header-button-color">Профиль</button></a>
                <a href="{% url 'about' %}"><button class="header-button header-button-color">О проекте</button></a>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="center">
            <div align="left">
                <h1><b>Категории</b></h1>
            </div>
            {% for category in categories %}
                <a href="{% url 'category' category.id %}">
                    <button class="word-wrap category">{{ category.category_name }}</button>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>