{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Ошибка{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/error_page.css' %}">
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div class="container container-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" align="center">
                <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2"></div>
                <div class="col-xs-8 col-sm-4 col-md-8 col-lg-8">
                    {% if status_code == 404 %}
                        <img class="img-responsive test" src="{% static 'app/images/error_status/404.png' %}" alt="404">
                        <h2><strong>Страница не найдена</strong></h2>
                    {% elif status_code == 400 %}
                        <img class="img-responsive" src="{% static 'app/images/error_status/400.png' %}" alt="400">
                        <h2><strong>Проблемный запрос</strong></h2>
                    {% elif status_code == 403 %}
                        <img class="img-responsive" src="{% static 'app/images/error_status/403.png' %}" alt="403">
                        <h2><strong>Доступ запрещен</strong></h2>
                    {% elif status_code == 500 %}
                        <img class="img-responsive" src="{% static 'app/images/error_status/500.png' %}" alt="500">
                        <h2><strong>Внутренняя ошибка сервера</strong></h2>
                    {% endif %}
                    <h5>Если вы считаете, что это сообщение не должно было появиться, <br>
                        пожалуйста, обратитесь к администрации</h5>
                </div>
                <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
{% endblock %}
