{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Мои книги{% endblock %}

{% block description %}
    <meta name="description" content="Страница с книгами которые Вы читаете.">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/home.css' %}">
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div id="main" class="container footer-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="header-color"><b>Мои книги</b></h2>

                <!--Books-->
                {% if books %}
                    {% for book in books %}
                        <a href="{% url 'read_book' book.id_book.id %}">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
                                <div class="thumbnail">
                                    <div class="img-wrapper">
                                        <img src="{% if book.id_book.photo %}{{ book.id_book.photo.url }}{% endif %}"
                                             alt="{{ book.id_book.book_name }}">
                                        <div class="book-info word-wrap">
                                            <b>{{ book.id_book.book_name }}</b><br>
                                            <i>{{ book.id_book.id_author }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h1>У вас нет книг! Добавьте! =)</h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 class="partner-text">Наш партнер</h3>
                <div id="partner-banner-outline">
                    <a href="https://hostiq.ua/clients/aff.php?aff=1362&bid=15" rel="nofollow">
                        <img src="https://hostiq.ua/images/aff-banners/728x90_4.gif" width="728" height="90" alt="Не хватает ресурсов? Купи выделенный сервер!" title="Dedicated сервер — и вы не зависите от соседей" border="1"/>
                    </a>
                </div>
            </div>
        </div>

        <!--Recommend books-->
        {% if recommend_books %}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Рекомендуем также читать</h3>
                    <hr class="hr-style">
                    {% for book in recommend_books %}
                        <a href="{% url 'book' book.id %}">
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-6">
                                <div class="thumbnail">
                                    <div class="img-wrapper">
                                        <img src="{% if book.photo %}{{ book.photo.url }}{% endif %}"
                                             alt="{{ book.book_name }}">
                                        <div class="book-info word-wrap">
                                            <b>{{ book.book_name }}</b><br>
                                            <i>{{ book.id_author }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <a id="upload-button" href="{% url 'add_book' %}" title="Нажмите, чтобы добавить в систему книгу которую вы хотите читать">
            <img id="upload-button-img" src="{% static 'app/images/upload.png' %}" alt="Загрузить книгу на сервер">
        </a>
    </div>
{% endblock %}
