<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="headerLogo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="/logout/" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="headerButton headerButtonColor">Библиотека</button></a>
                <button class="headerButton headerSelectedButtonColor">Мои книги</button>
                <button class="headerButton headerButtonColor">Профиль</button>
                <button class="headerButton headerButtonColor">О проекте</button>
                <button class="headerButton headerButtonColor" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="center">

            <!--Header part of main area-->
            <div class="myBooksHeader" align="left">
                <b>Мои книги</b>
                <div align="right">
                    <a class="aText aLibraryColor" href="{% url 'categories' %}">
                        <button class="addBookLibrary addBook">+</button> Из библиотеки
                    </a>
                    <a class="aText aComputerColor" href="{% url 'app.views.add_book_views.add_book_view' %}">
                        <button class="addBookComputer addBook">+</button> С компьютера
                    </a>
                </div>
            </div>

            <!--Books-->
            {% if books %}
                {% for book in books %}
                <a href="read-book/{{ book.id }}/">
                    <div class="book wordWrap">
                        <div class="bookInfoPusher"></div>
                        <div class="bookInfo">
                            <hr align="center" noshade size="1">
                            <div><b>{{ book.book_name }}</b></div>
                            {{ book.id_author }}
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h1>У вас нет книг! Добавьте! =)</h1>
            {% endif %}
        </div>
    </div>
</body>
</html>