<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/index.js' %}"></script>

    {% if invalid_authentication %}
    <script>
        $(document).ready(function() {
            $("#log-in-sub-page").css("display", "block");
        });
    </script>
    {% endif %}
    <style>
        body {
            background: url({% static '/app/images/background.jpg' %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80">
            <div align="right">
                <button class="header-button header-button-color">О проекте</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="center">
            <div class="welcome-div" align="left">
                <h1>Читайте книги онлайн!</h1>
                <h2>
                    вапрдвадплова ывлоарывоар!Ёвдлыаоыаывалд
                    дваоывдлоаывдлаоыд жвалдаывладоывдлаывоа
                    лываываолываоывдаоывадлоывадыв лдываылвоаывд
                    длвыоалывоаывдаовы ывдлаоывдалоыадоывадыалы</h2>
                <button class="enter-button" onclick="logInPageShow()">Вoйти</button>
                <button class="register-button" onclick="registerPageShow()">Зарегистрироваться</button>
            </div>
        </div>
    </div>

    <!--LogIn dialog area-->
    <div id="log-in-sub-page" class="sub-page" align="center">
        <div class="layout sub-page-margin" align="right">
            <button class="close-btn" onclick="logInPageHide()">X</button>
            <div class="heading"><b>Bход</b></div>

            <form action="/" method="POST">
                {% csrf_token %}
                <div><input class="input input-colors index-input-width" placeholder="Имя пользователя"
                            type="text" maxlength="30" name="username" required></div>
                <div>
                    <img class="eye-img" src="{% static 'app/images/eye_primary.png' %}" width="48" height="48"
                         onmousedown="showPasswords('{% static 'app/images/eye_selected.png' %}');"
                         onmouseup="hidePasswords('{% static 'app/images/eye_primary.png' %}');">
                    <input class="input input-colors index-input-width" placeholder="Пароль" type="password"
                            maxlength="16" name="passw" required>
                </div>
                <div align="right">
                    {% if invalid_authentication %}
                    <div class="error-msg error-text"><b>Логин или пароль введен неверно!</b></div>
                    {% endif %}
                    <a href="" class="auth-msg reference">Забыли пароль ?</a>
                    <button type="submit" class="register-button">Bойти</button>
                </div>
            </form>
        </div>
    </div>

    <!--Registraton dialog area-->
    <div id="register-sub-page" class="sub-page" align="center">
        <div class="layout sub-page-margin" align="right">
            <button class="close-btn" onclick="registerPageHide()">X</button>
            <div class="heading"><b>Регистрация</b></div>
            <form action="{% url 'sign_in' %}" method="POST" onsubmit="isSignInAvailable(this); return false;">
                {% csrf_token %}
                <div><input id="username-input" class="input input-colors index-input-width" placeholder="Имя пользователя"
                            type="text" required pattern="^[a-zA-Z0-9_]{6,30}" oninvalid="usernameSignInMessage(this)"
                            oninput="checkUserNotExists()" name="username"></div>
                <div id="user-exists" class="error-msg error-text"><b>Пользователь с таким именем уже существует.</b></div>
                <div><input class="input input-colors index-input-width" placeholder="Email" type="email" required
                            name="email"></div>
                <div>
                    <img class="eye-img" src="{% static 'app/images/eye_primary.png' %}" width="48" height="48"
                         onmousedown="showPasswords('{% static 'app/images/eye_selected.png' %}');"
                         onmouseup="hidePasswords('{% static 'app/images/eye_primary.png' %}');">
                    <input class="input input-colors index-input-width" id="first-pass" placeholder="Пароль"
                            type="password" pattern="^[a-zA-Z0-9_]{6,16}" oninvalid="passwordSignInMessage(this)"
                            name="passw1" required>
                </div>
                <div ><input class="input input-colors index-input-width" id="second-pass" placeholder="Повторите Пароль"
                             type="password" required pattern="^[a-zA-Z0-9_]{6,16}" name="passw2"
                             oninvalid="passwordSignInMessage(this)" oninput="checkEqualPassLines()"></div>
                <div id="pass-wrong-message" class=" error-msg error-text"><b>Пароли должны быть одинаковые!</b></div>
                <div align="right"><button class="register-button">Присоединиться</button></div>
            </form>
        </div>
    </div>

</body>
</html>