<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center" class="header-read-book">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="header-button header-button-color">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="header-button header-button-color">Мои книги</button></a>
                <button class="header-button header-selected-button-color">Профиль</button>
                <button class="header-button header-button-color">О проекте</button>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="left">
            <div id="main-area">
                <div>
                    <img src="{{ profile_user.user_photo.url }}" width="250" height="250">
                    <div>{{ profile_user }}</div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>