{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Профиль пользователя {{ profile_user }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
    <!--Main info area-->
    <div id="main" class="container container-margin footer-margin">
        <div class="row">

            <!--User info area-->
            <div class="col-sm-4 col-md-4 col-lg-3">
                {% if profile_user.user_photo %}
                    <img id="profile-image" class="img-responsive" src="{{ profile_user.user_photo.url }}?{{ img_random }}">
                {% else %}
                    <img id="profile-image" class="img-responsive" src="{% static 'app/images/user.png' %}">
                {% endif %}
                <div id="user-name">{{ profile_user }}</div>

                {% if owner %}
                    <hr class="hr">
                    <div id="status-message" class="margin"></div>

                    <!--Change avatar sub area-->
                    <button class="btn manage-button margin"
                            onclick="showChangeAvatarArea();">Поменять аватар</button>
                    <div id="change-avatar">
                        <label id="upload-label" class="btn select-button">
                            <span id="upload-caption">Bыбрать фото</span>
                            <input id="upload" name="user_avatar" type="file"
                                   accept="image/jpeg, image/png, image/gif, image/bmp">
                        </label>
                        <br>
                        <button class="btn change-button" onclick="changeAvatar();">Поменять</button>
                        <hr class="hr">
                    </div>

                    <!--Change password sub area-->
                    <button class="btn manage-button margin" onclick="showChangePasswordArea()">Сменить пароль</button>
                    <div id="change-password">
                        <input id="prev-password" class="input input-colors margin"
                               placeholder="Старый пароль" type="password" autocomplete="off" maxlength="16">
                        <input id="new-password-one" class="input input-colors margin"
                               placeholder="Новый пароль" type="password" autocomplete="off" maxlength="16">
                        <input id="new-password-two" class="input input-colors margin"
                               placeholder="Повторите пароль" type="password" autocomplete="off" maxlength="16">
                        <div>
                            <div id="eye-div">Показать пароли</div>
                            <img class="eye-img" src="{% static 'app/images/eye.png' %}" width="48" height="48"
                                 onmousedown="showPasswords('{% static 'app/images/eye_selected.png' %}');"
                                 onmouseup="hidePasswords('{% static 'app/images/eye.png' %}');">
                        </div>
                        <button class="btn change-button margin" onclick="changePassword()">Поменять</button>
                    </div>

                    <!--Logout area-->
                    <form id="logout" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                    </form>

                    <a class="reference" href="javascript:;" onclick="logout()">Выйти</a>

                    <div>
                        <h3 class="partner-text">Наш партнер</h3>
                        <div id="partner-banner-outline">
                            <a href="https://hostiq.ua/clients/aff.php?aff=1362&bid=56" rel="nofollow">
                                <img src="https://hostiq.ua/images/aff-banners/240x400_1.png" width="240" height="400" alt="Хостинг с отличным саппортом — HOSTiQ" title="Выбирайте хороший хостинг — выбирайте HOSTiQ!" border="0"/>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-8 col-md-8 col-lg-9">
                <!--Reading book list area-->
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <hr class="hr">
                    <h2 id="read-books-header">
                        Читаемые книги
                        <label class="btn-xs book-count">Всего книг: {{ added_books.count }}</label>
                    </h2>
                    <hr class="hr">
                    {% if added_books %}
                        <table class="margin book-list">
                            <colgroup>
                                <col width="43%">
                                <col width="43%">
                                <col width="10%">
                                <col width="3%">
                            </colgroup>
                            <thead>
                                <tr align="left">
                                    <th>Название книги</th>
                                    <th>Автор</th>
                                    <th class="page">Cтр</th>
                                </tr>
                            </thead>
                            <tbody class="text-font">
                                {% for book in added_books %}
                                    <tr id="book_{{ book.id_book.id }}">
                                        <td class="word-wrap">
                                           <a href="{% url 'book' book.id_book.id %}"
                                               class="reference">{{ book.id_book.book_name }}</a></td>
                                        <td class="word-wrap">
                                            <a href="{% url 'book' book.id_book.id %}"
                                               class="reference">{{ book.id_book.id_author }}</a>
                                        </td>
                                        <td class="page-number word-wrap">
                                            <a href="{% url 'book' book.id_book.id %}"
                                               class="reference">{{ book.last_page }}</a>
                                        </td>
                                        {% if owner %}
                                            <td title="Удалить книгу из списка читаемых вами">
                                                <button class="remove-book-button"
                                                        onclick="showRemoveSub({{ book.id_book.id }}, '{{ book.id_book.book_name }}');">x</button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Пока еще нет читаемых книг =(
                    {% endif %}
                </div>

                <!--Added book list area-->
                {% if uploaded_books %}
                    <div id="uploaded-books-area" class="col-sm-12 col-md-12 col-lg-12">
                        <hr class="hr">
                        <h2 id="read-books-header">
                            Загруженные книги <label class="btn-xs book-count">Всего книг: {{ uploaded_books_count }}</label>
                        </h2>
                        <hr class="hr">
                        <table id="uploaded-book-list" class="margin book-list">
                            <colgroup>
                                <col width="43%">
                                <col width="43%">
                                <col width="14%">
                            </colgroup>
                            <thead>
                                <tr align="left">
                                    <th>Название книги</th>
                                    <th>Автор</th>
                                    <th>Дата загрузки</th>
                                </tr>
                            </thead>
                            <tbody class="text-font">
                                {% for book in uploaded_books %}
                                    <tr>
                                        <td class="word-wrap">
                                           <a href="{% url 'book' book.id %}"
                                               class="reference">{{ book.book_name }}</a></td>
                                        <td class="word-wrap">
                                            <a href="{% url 'book' book.id %}"
                                               class="reference">{{ book.id_author }}</a>
                                        </td>
                                        <td class="word-wrap">
                                            <a href="{% url 'book' book.id %}"
                                               class="reference">{{ book.upload_date|date:"d-m-Y" }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if has_next %}
                            <div id="load-books-area" class="align-center col-sm-12 col-md-12 col-lg-12 margin-top">
                                <button class="btn load-books" onclick="loadNextBooks({{ profile_user.id }}, 2)">Загрузить еще</button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Remove book sub window-->
    <div id="remove-book-sub">
        Bы уверены что хотите удалить книгу <br>
        "<b id="book-name" class="word-wrap"></b>" <br>
        Из списка читаемых вами? <br>
        Bсе данные о прочитанных страницах удалятся.

        <div id="accept-buttons" align="center">
            <button id="no-button" class="btn active-button" onclick="hideRemoveSub();">Нет</button>
            <button id="yes-button" class="btn active-button" onclick="removeBook();">Да</button>
        </div>
    </div>
    <div id="popup-background"></div>
{% endblock %}
