{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}{{ book.book_name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/read_book.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/third_party/pdf_js/pdf.js' %}"></script>
    <script src="{% static 'app/js/read_book.js' %}"></script>
{% endblock %}

{% block header_additional %}
    <input id="small-page-num" class="input input-colors page-number">
{% endblock %}

{% block content %}
    <div>
        <div id="book-url" class="book-meta">{{ book.book_file.url }}</div>
        <div id="book-name" class="book-meta">{{ book.book_name }}</div>
        <div id="book-id" class="book-meta">{{ book.id }}</div>
        <div id="current-page" class="book-meta">{{ book_page }}</div>
    </div>

    <img id="loading" src="{% static 'app/images/loading.gif' %}">

    <!--Main info area-->
    <div id="page-nav-bar" align="center">
        <div><input class="input input-colors page-number"></div>
    </div>

    <div id="container-width" class="container container-margin">
        <div class="row">
            <div id="main" class="col-sm-12 col-md-12 col-lg-12"></div>
        </div>
    </div>
{% endblock %}