{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Читать Книгу {{ book.book_name }} - {{ book.id_author }} Онлайн Бесплатно в PDF без регистрации{% endblock %}

{% block description %}
    <meta name="description" content="Книга: {{ book.book_name }}, Автор: {{ book.id_author }} - Чтение в режиме онлайн без регистрации.">
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Читать {{ book.book_name }} онлайн, Книга {{ book.book_name }} pdf, Чтение {{ book.book_name }} книги автора {{ book.id_author }}, Книга {{ book.book_name }} бесплатно онлайн">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/read_book.css' %}">
{% endblock %}

{% block js %}
    <script>
        var anonymousUser = {% if request.user.is_anonymous %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'app/js/third_party/pdf_js/pdf.js' %}"></script>
    <script src="{% static 'app/js/read_book.js' %}"></script>
{% endblock %}

{% block header_additional %}
    <div id="small-page-nav">
        <input id="small-page-num" class="input input-colors page-number">
        <button id="small-btn" class="btn action-button" onclick="goToPageSmall();">➤</button>
    </div>
{% endblock %}

{% block header_special %}
    <li><a href="{% url 'categories' %}" class="header-animation">Библиотека</a></li>
    <li><a href="{% url 'about' %}" class="header-animation">О проекте</a></li>
{% endblock %}

{% block references %}{% endblock %}

{% block content %}
    <div>
        <div id="book-url" class="book-meta">{{ book.book_file.url }}</div>
        <div id="book-name" class="book-meta">{{ book.book_name }}</div>
        <div id="book-id" class="book-meta">{{ book.id }}</div>
        <div id="current-page" class="book-meta">{{ book_page }}</div>
    </div>

    <img id="loading" src="{% static 'app/images/loading.gif' %}">
    <div id="loading-percent"></div>

    <!--Main info area-->
    <div id="page-nav-bar" align="center">
        <div><input id="big-page-num" class="input input-colors page-number"></div>
        <div><button class="btn action-button margin-top" onclick="goToPageBig();">➤</button></div>
    </div>

    <div id="error-toast" class="toast">Нет соединения с сервером...</div>
    <div id="anonymous-user-toast" class="toast">
        Вы не вошли в систему, по-этому не все функции доступны.
        <a href="{% url 'index' %}" class="reference">Войдите в систему или зарегистрируйтесь</a> для использования полной функциональности.
    </div>

    <div id="container-width" class="container container-margin">
        <div class="row">
            <div id="main" class="col-sm-12 col-md-12 col-lg-12"></div>
        </div>
    </div>
{% endblock %}