<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/read_book.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/pdf_js/pdf.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    <script src="{% static 'app/js/read_book.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center" class="header-read-book">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="header-button header-button-color">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="header-button header-selected-button-color">Мои книги</button></a>
                <button class="header-button header-button-color">Профиль</button>
                <button class="header-button header-button-color">О проекте</button>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <div>
        <div id="book-url">{{ book_url.url }}</div>
        <div id="book-name">{{ book_name }}</div>
        <div id="current-page">{{ book_page }}</div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" id="main-area">
            <div id="space-pusher"></div>
            <div id="page-nav-bar">
                <div><button class="page-nav-button" onclick="prevPage();">⬆</button></div>
                <div><input id="page-number" class="input input-colors"></div>
                <div><button class="page-nav-button" onclick="nextPage();">⬇</button></div>
            </div>
        </div>
    </div>
</body>
</html>
