<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/register_success.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <button class="header-button header-button-color">О проекте</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="center">
            <h1><b>Cпасибо за то, что присоеденились к нам!</b></h1>
            <div align="left">
                <h2>Активация аккаунта прошла успешно!</h2>
                <h2>Теперь вы можете авторизоваться и читать ваши любимые книги.</h2>
                <h2>Перейдите по ссылке:  <a class="active-reference" href="{% url 'index' %}">Главная страница</a></h2>
            </div>
        </div>
    </div>
</body>
</html>