<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/selected_category.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">
    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/selected_category.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80"
                    alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="header-button header-selected-button-color">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="header-button header-button-color">Мои книги</button></a>
                <button class="header-button header-button-color">Профиль</button>
                <button class="header-button header-button-color">О проекте</button>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info Area-->
    <div align="center">
        <div class="layout" align="center">

            <!--Header part of main area-->
            <div align="left">
                <div class="category-name"><b>{{ category_name }}</b></div>
                <div>
                    <span id="search-header">Поиск</span>
                    <input id="search-input" class="input input-colors" placeholder="Название, автор, что угодно..."
                            oninput="searchBooks({{ category_number }});" maxlength="255">
                </div>
            </div>

            <!--Sort part of main area-->
            <div class="sort-area" align="left">
                <span id="sort-header">Сортировать по</span>
                <button class="button selected-button-color"
                        onclick="sort({{ category_number }}, 'book_name'); changeBtnColor(this);">Алфавиту</button>
                <button class="button button-color"
                        onclick="sort({{ category_number }}, 'author'); changeBtnColor(this);">Автору</button>
                <button class="button button-color"
                        onclick="sort({{ category_number }}, 'estimation'); changeBtnColor(this);">Оценкам</button>
                <button class="button button-color"
                        onclick="sort({{ category_number }}, 'most_readable'); changeBtnColor(this);">Самым читаемым</button>
            </div>

            <!--Area with books list-->
            <div class="books-area" align="left">
                {% if books %}
                    {% for book in books %}
                    <a href="{% url 'book' book.id %}">
                        <div class="word-wrap book" align="left">
                            <div><b>{{ book.book_name }}</b></div>
                            <div>{{ book.id_author }}</div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <h1>В этой категории пока нет книг =((</h1>
                    <h2>Что бы добавить, нажмите здесь:  <a href="{% url 'add_book' %}" class="active-reference">Добавить книгу</a></h2>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
