<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ book.book_name }}</title>
    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/selected_book.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/third_party/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/third_party/pdf_js/pdf.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    <script src="{% static 'app/js/selected_book.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'app/images/logo_beta.jpg' %}"></a>
            </div>

            <form id="logout" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
            </form>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'categories' %}">Библиотека</a></li>
                    <li><a href="{% url 'index' %}">Мои книги</a></li>
                    <li><a href="{% url 'profile' request.user.id %}">Профиль</a></li>
                    <li><a href="{% url 'about' %}">О проекте</a></li>
                    <li><a href="javascript:;" onclick="logout()">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Main info area-->
    <div class="container container-margin">

        <!--Main book info-->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!--Left side-->
                <div class="col-sm-5 col-md-4 col-lg-3">
                    <img class="img-responsive" id="the-book-image"
                         src="{% if book.photo %}{{ book.photo.url }}{% endif %}">
                    <canvas id="book-image" class="book-meta"></canvas>
                    <div id="book-url" class="book-meta">{{ book.book_file.url }}</div>

                    <!--Estimation Area-->
                    <div id="avg-mach" align="left">
                        Рейтинг книги: <b id="rating">{{ book_rating }}</b>
                    </div>

                    <div id="estimation-area" align="left">
                        <div><b>Оценить книгу</b></div>
                        {% for estimation in estimation_count %}
                        <div class="estimate"
                             onclick="changeEstimation({{ book.id }}, {{ estimation }})">{{ estimation }}</div>
                        {% endfor %}
                    </div>

                    <!--The button for adding book-->
                    <input id="book-id" type="hidden" name="book_id" value="{{ book.id }}">
                    <div id="btn-area" class="margin">
                        {% if added_book %}
                            <div id="remove-book-div">
                                <button class="btn" id="remove-book"
                                        onclick="removeBookHome()">Перестать читать</button>
                                <div class="word-wrap add-book-text">Сейчас книга в списке читаемых вами.</div>
                            </div>
                        {% else %}
                            <div id="add-book-div">
                                <button class="btn" id="add-book"
                                        onclick="addBookHome()">Начать читать</button>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!--Right side-->
                <div class="col-sm-7 col-md-8 col-lg-9">
                    <div id="book-name" class="word-wrap"><h2>{{ book.book_name }}</h2></div>
                    <div>
                        <table>
                            <tr><th>Автор</th><td class="word-wrap">{{ book.id_author }}</td></tr>
                            <tr><th>Категория</th><td class="word-wrap">{{ book.id_category }}</td></tr>
                            <tr><th>Язык</th><td class="word-wrap">{{ book.language }}</td></tr>
                            <tr>
                                <th>Кто загрузил</th>
                                <td class="word-wrap">
                                    <a class="reference"
                                       href="{% url 'profile' book.who_added.id_user.id %}">{{ book.who_added }}</a>
                                </td>
                            </tr>
                            <tr><th id="about-book">Про книгу</th></tr>
                        </table>
                    </div>
                    <div id="about-text" class="word-wrap">
                        {{ book.description }}
                    </div>
                </div>
            </div>
        </div>

        <!--Area for adding comment-->
        {% if recommend_books %}
            <div class="row margin">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Также рекомендуем читать</h3>
                    <hr class="main-separator">
                    {% for book in recommend_books %}
                        <a href="{% url 'book' book.id %}">
                            <div class="col-sm-3 col-md-3 col-lg-2 col-xs-6">
                                <div class="thumbnail">
                                    <div class="img-wrapper">
                                        <img src="{% if book.photo %}{{ book.photo.url }}{% endif %}">
                                        <div class="book-info word-wrap">
                                            <b>{{ book.book_name }}</b><br>
                                            <i>{{ book.id_author }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!--Area for adding comment-->
        <div class="row margin">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <hr class="main-separator">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div id="new-comment-header" class="margin">Оставить комментарий</div>
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-5">
                            {% if user.user_photo %}
                                <img class="img-responsive" src="{{ user.user_photo.url }}">
                            {% else %}
                                <img class="img-responsive" src="{% static 'app/images/user.png' %}">
                            {% endif %}
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-10 col-xs-7">
                            <textarea id="add-comment-text" class="input input-colors" maxlength="500"
                                      placeholder="Введите текст..."></textarea>
                            <div align="right"><button id="comment-button" class="btn"
                                    onclick="addComment({{ book.id }})">Отправить</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <hr class="main-separator">
                <div id="comments-header"><h3 class="no-margin"><b>Комментарии</b></h3></div>
            </div>
        </div>

        <!--Area with existing comments-->
        <div class="row margin">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="comments"></div>
                {% if comments %}
                    {% for comment in comments %}
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-5">
                                    {% if comment.id_user.user_photo %}
                                        <img class="img-responsive" src="{{ comment.id_user.user_photo.url }}">
                                    {% else %}
                                        <img class="img-responsive" src="{% static 'app/images/user.png' %}">
                                    {% endif %}
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-7 word-wrap">
                                    <div class="word-wrap user-name margin">
                                        <b>{{ comment.id_user }}</b>
                                        <b> - <i class="comment-posted-date">{{ comment.posted_date }}</i></b>
                                    </div>
                                    <span class="text-font">{{ comment.text }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div id="no-comments"><h4><b>Пока никто не оставил комментариев об этой книге.</b></h4></div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>