{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}Категория {{ category.category_name }} Книг В Онлайн Библиотеке{% endblock %}

{% block description %}
    <meta name="description" content="Заходите к нам, выбирайте и читайте большое количество классных книг в нашей библиотеке! В категории {{ category.category_name }} {{ books.count }} книг">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/selected_category.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/selected_category.js' %}"></script>
{% endblock %}

{% block header_special %}
    <li><a href="{% url 'categories' %}">Библиотека</a></li>
    <li><a href="{% url 'about' %}">О проекте</a></li>
{% endblock %}

{% block content %}
    <!--Main info Area-->
    <div id="main" class="container container-margin footer-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!--Header part of main area-->
                <h1 class="header-color">
                    <strong>{{ category.category_name }}</strong>
                    <label class="btn-xs book-count">Всего книг: {{ total_books_count }}</label>
                </h1>
                {% if books %}
                    <input id="search-input" class="input input-colors margin" placeholder="Поиск книг..."
                       title="Вводите любую информацию: название книги, автора..." oninput="returnState({{ category.id }})" maxlength="255">
                    <a id="search-button" class="btn" onclick="sortAreaHide(); clearBooksArea(); searchBooks({{ category.id }}, 1)">Искать</a>

                    <!--Sort part of main area-->
                    <div class="sort-area">
                        <span id="sort-header">Фильтровать все книги по</span>
                        <div class="sort-buttons">
                            <button class="btn selected-button-color margin" id="default-sort-btn"
                                    onclick="clearBooksArea(); sort({{ category.id }}, 'book_name', 1); changeBtnColor(this);">Алфавиту</button>
                            <button class="btn button-color margin"
                                    onclick="clearBooksArea(); sort({{ category.id }}, 'author', 1); changeBtnColor(this);">Автору</button>
                            <button class="btn button-color margin"
                                    onclick="clearBooksArea(); sort({{ category.id }}, 'estimation', 1); changeBtnColor(this);">Оценкам</button>
                            <button class="btn button-color margin"
                                    onclick="clearBooksArea(); sort({{ category.id }}, 'most_readable', 1); changeBtnColor(this);">Самым читаемым</button>
                        </div>
                    </div>
                {% endif %}

                <img id="loading" src="{% static 'app/images/loading.gif' %}" alt="Загрузка">

                <!--Area with books list-->
                <div class="col-sm-16 col-md-16 col-lg-16 books-area">
                    {% if books %}
                        {% for book in books %}
                            <a href="{% url 'book' book.id %}">
                                <div class="col-sm-3 col-md-3 col-lg-2 col-xs-6">
                                    <div class="thumbnail">
                                        <div class="img-wrapper">
                                            <img src="{% if book.photo %}{{ book.photo.url }}{% endif %}"
                                                 alt="{{ book.book_name }}">
                                            <div class="book-info word-wrap">
                                                <strong>{{ book.book_name }}</strong><br>
                                                <i>{{ book.id_author }}</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        {% if has_next %}
                            <div id="load-books-area" class="align-center col-sm-12 col-md-12 col-lg-12">
                                <button class="btn load-books" onclick="loadNextBooks({{ category.id }}, 2)">Загрузить еще</button>
                            </div>
                        {% endif %}
                    {% else %}
                        <h3 class="paragraph">В этой категории пока нет книг =((</h3>
                        <h3 class="paragraph">
                            <i>Что бы добавить, нажмите здесь:</i>
                            <a href="{% url 'add_book' %}" class="active-reference">Добавить книгу</a></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
