{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}{{ category.category_name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/selected_category.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/selected_category.js' %}"></script>
{% endblock %}

{% block content %}
    <!--Main info Area-->
    <div id="main" class="container container-margin footer-margin">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!--Header part of main area-->
                <h3 class="header-color"><b>{{ category.category_name }}</b></h3>
                {% if books %}
                    <input id="search-input" class="input input-colors" placeholder="Поиск..."
                           title="Вводите любую информацию: название книги, автора..."
                           oninput="searchBooks({{ category.id }});" maxlength="255">

                    <!--Sort part of main area-->
                    <div class="sort-area" align="left">
                        <span id="sort-header">Фильтровать по</span>
                        <div class="sort-buttons">
                            <button class="btn selected-button-color margin"
                                    onclick="sort({{ category_number }}, 'book_name'); changeBtnColor(this);">Алфавиту</button>
                            <button class="btn button-color margin"
                                    onclick="sort({{ category_number }}, 'author'); changeBtnColor(this);">Автору</button>
                            <button class="btn button-color margin"
                                    onclick="sort({{ category_number }}, 'estimation'); changeBtnColor(this);">Оценкам</button>
                            <button class="btn button-color margin"
                                    onclick="sort({{ category_number }}, 'most_readable'); changeBtnColor(this);">Самым читаемым</button>
                        </div>
                    </div>
                {% endif %}

                <img id="loading" src="{% static 'app/images/loading.gif' %}">

                <!--Area with books list-->
                <div class="col-sm-16 col-md-16 col-lg-16 books-area">

                    {% if books %}
                        {% for book in books %}
                            <a href="{% url 'book' book.id %}">
                                <div class="col-sm-3 col-md-3 col-lg-2 col-xs-6">
                                    <div class="thumbnail">
                                        <div class="img-wrapper">
                                            <img src="{% if book.photo %}{{ book.photo.url }}{% endif %}">
                                            <div class="book-info word-wrap">
                                                <b>{{ book.book_name }}</b><br>
                                                <i>{{ book.id_author }}</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <h3 class="paragraph">В этой категории пока нет книг =((</h3>
                        <h3 class="paragraph">
                            <i>Что бы добавить, нажмите здесь:</i>
                            <a href="{% url 'add_book' %}" class="active-reference">Добавить книгу</a></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
