<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/general/general.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/inputs.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/general/text.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/selected_book.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext,latin-ext">

    <script src="{% static 'app/js/third_party/jquery.js' %}"></script>
    <script src="{% static 'app/js/third_party/pdf_js/pdf.js' %}"></script>
    <script src="{% static 'app/js/helper/special.js' %}"></script>
    <script src="{% static 'app/js/selected_book.js' %}"></script>
</head>
<body>
    <!--Header Area-->
    <div id="header" align="center">
        <div class="layout">
            <img id="header-logo" src="{% static 'app/images/logo.png' %}" width="140" height="80" alt="Логотип сайта">
            <div align="right">
                <form id="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                </form>
                <a href="{% url 'categories' %}"><button class="header-button header-selected-button-color">Библиотека</button></a>
                <a href="{% url 'index' %}"><button class="header-button header-button-color">Мои книги</button></a>
                <a href="{% url 'profile' request.user.id %}"><button class="header-button header-button-color">Профиль</button></a>
                <button class="header-button header-button-color">О проекте</button>
                <button class="header-button header-button-color" type="submit" form="logout">Bыйти</button>
            </div>
        </div>
    </div>

    <!--Main info area-->
    <div align="center">
        <div class="layout" align="center">

            <!--Area with info about book-->
            <div class="main-space">

                <div id="left-side">
                    <!--The book image-->
                    <div align="left">
                        <img id="the-book-image" src="" width="250" height="350">
                        <canvas id="book-image"></canvas>
                        <div id="book-url">{{ book.book_file.url }}</div>
                    </div>

                    <div id="avg-mach" align="left">
                        Рейтинг книги: <b id="rating">{{ book_rating }}</b>
                    </div>

                    <!--Estimation Area-->
                    <div id="estimation-area" align="left">
                        <div><b>Оценить книгу</b></div>
                        {% for estimation in estimation_count %}
                        <div class="estimate"
                             onclick="changeEstimation({{ book.id }}, {{ estimation }})">{{ estimation }}</div>
                        {% endfor %}
                    </div>

                    <!--The button for adding book-->
                    <input id="book-id" type="hidden" name="book_id" value="{{ book.id }}">
                    {% if added_book %}
                    <div id="remove-book-div">
                        <button class="add-book" id="remove-book"
                                onclick="removeBookHome()">Удалить книгу</button>
                        <div class="word-wrap add-book-text">Сейчас книга в списке читаемых вами.</div>
                    </div>
                    {% else %}
                    <div id="add-book-div">
                        <button class="add-book" id="add-book"
                                onclick="addBookHome()">Добавить книгу</button>
                    </div>
                    {% endif %}
                </div>

                <div>
                    <div id="book-name" class="word-wrap"><h2>{{ book.book_name }}</h2></div>
                    <div align="left">
                        <table>
                            <tr><th>Автор</th><td class="word-wrap">{{ book.id_author }}</td></tr>
                            <tr><th>Категория</th><td class="word-wrap">{{ book.id_category }}</td></tr>
                            <tr><th>Язык</th><td class="word-wrap">{{ book.language }}</td></tr>
                            <tr><th id="about-book">Про книгу</th></tr>
                        </table>
                    </div>
                    <div align="right" id="about-text" class="word-wrap">
                        {{ book.description }}
                    </div>
                </div>
            </div>

            <!--Area for adding comment-->
            <hr>
            <div class="new-comment" align="left">
                <div id="new-comment-header">Оставить комментарий</div>
                <div id="new-comment-body">
                    {% if user.user_photo %}
                        <img class="user-photo" src="{{ user.user_photo.url }}" width="120" height="120">
                    {% else %}
                        <img class="user-photo" src="" width="120" height="120">
                    {% endif %}
                    <textarea id="add-comment-text" maxlength="500" placeholder="Введите текст..."></textarea>
                    <button id="comment-button" onclick="addComment({{ book.id }})">Отправить</button>
                </div>
            </div>

            <hr>
            <div id="comments-header" align="left"><b>Комментарии</b></div>

            <!--Area with existing comments-->
            {% for comment in comments %}
            <hr class="hr">
            <div class="comment" align="left">
                <div class="user-photo">
                    {% if comment.id_user.user_photo %}
                        <img class="comment-photo" src="{{ comment.id_user.user_photo.url }}" width="120" height="120">
                    {% else %}
                        <img class="comment-photo" src="" width="120" height="120">
                    {% endif %}
                    <div class="word-wrap user-name"><b>{{ comment.id_user }}</b></div>
                </div>
                <div class="comment-text word-wrap">{{ comment.text }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>